<div style="display:flex; justify-content:center; margin-top:5rem">
<div class="box" style="width:30rem">
<p id="notice"><%= notice %></p>

<h1 class="title is-centered" style="display:flex; justify-content:center">Todo Lists</h1>
<%= link_to 'New Todo', new_todo_list_path, {:class => 'button is-primary is-small'} %>
<div>
  <br/>
    <% @todo_lists.each do |todo_list| %>
      <div class="box">
       <span class:"subtitle"><%= todo_list.title %></span>
       <div><%= todo_list.description %></div>
       <div>
       <span><%= link_to 'Show', todo_list, {:class =>'button is-small is-outlined is-link'} %></span>
       <span class="button is-small is-outlined is-primary"><%= link_to 'Edit', edit_todo_list_path(todo_list) %></span>
       <span class="button is-small is-outlined is-danger"><%= link_to 'Destroy', todo_list, method: :delete, data: { confirm: 'Are you sure?' } %></span>
       </div>
      </div>
      <hr/>
    <% end %>
 
</div>

<br>

</div>
</div>